/* Global */
:root {
  /* Color */
  --color-pink: #e4bcaf;
  --color-violet: palevioletred;
  --color-dark-green: #435439;
  --color-light-green: #989a76;
  --color-ivory: #f8f3eb;
  --color-grey: #a2a694;
  --color-black: #1b2014;

  /* Font size */
  --font-large: 2rem;
  --font-medium: 1.5rem;

  /* Size */
  --size-spacing: 0.5rem;
  --size-border-radius: 40px;

  /* Gradient */
  --gradient-body: radial-gradient(
    circle,
    rgba(248, 243, 235, 1) 0%,
    rgba(228, 188, 175, 1) 100%
  );
  --gradient-list: linear-gradient(
    135deg,
    var(--color-light-green),
    var(--color-dark-green)
  );
}

/* Universal */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(248, 243, 235);
  background: var(--gradient-body);
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* List */
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 25rem;
  height: 37.5rem;
  background-color: var(--color-ivory);
  border-radius: var(--size-border-radius);
  box-shadow: 10px 10px 5px 5px var(--color-grey);
}

/* Header */
.list__header {
  margin: 0;
  padding: var(--size-spacing) 0;
  background: var(--gradient-list);
  border-radius: var(--size-border-radius) var(--size-border-radius) 0 0;
  font-size: var(--font-large);
  color: var(--color-ivory);
}

/* Items */
.list__items {
  height: 100%;
  margin: 0;
  padding: calc(var(--size-spacing) * 2);
  overflow-y: scroll;
}

.list__items::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--size-spacing);
  padding: var(--size-spacing) calc(var(--size-spacing) * 3 / 2);
  border-radius: 8px;
  color: var(--color-black);
  font-size: var(--font-medium);
}

.item:hover {
  background-color: var(--color-pink);
}

.item__name {
  text-align: start;
  max-width: 70%;
  overflow-wrap: break-word;
  user-select: none;
}

.item__name.checked {
  text-decoration-line: line-through;
}

.item__btn {
  margin: 0 0.125rem;
  padding: 0;
  font-size: var(--font-medium);
}

.item__btn:hover {
  color: var(--color-violet);
}

/* Footer */
.list__footer {
  background: var(--gradient-list);
  border-radius: 0 0 var(--size-border-radius) var(--size-border-radius);
}

.footer__input {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--font-medium);
}

.footer__btn {
  margin: var(--size-spacing) 0;
  background-color: var(--color-ivory);
  border-radius: 50%;
  color: var(--color-black);
  font-size: var(--font-large);
}

.footer__btn:hover {
  color: var(--color-violet);
}

.btn--clear {
  margin-left: var(--size-spacing);
}

/* 24rem 이하의 스크린 */
@media screen and (max-width: 24rem) {
  .list {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .list__header,
  .list__footer {
    border-radius: 0;
  }
}
